*{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    align-items: center;
}

.logo{
    width:350px;
    height: 100px;
}
a{
    text-decoration: none;
    color: black;
    padding: 1em;
    font-size: 1.25em;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content{
    display: block;
}

input[type="text"]{
   width: 60%;
}